.container>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffffff;
}

html,
body {
    background-color: #8c89e0;
    margin: 10px;
}

.container>div:nth-child(1n) {
    background-color: #07ca6f;
}

.container>div:nth-child(3n) {
    background-color: #06f4e8;
}

.container>div:nth-child(2n) {
    background-color: #ef807c;
}

.container>div:nth-child(4n) {
    background-color: #a225ea;
}



.container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40px 200px 40px;
}

/* .header {
    grid-column-start: 1;
    grid-column-end: 3;
} */

/* -------- option short method-------- */

.header {
    grid-column: 1 / 3;

}

.menu {}

.content {}

.footer {
    grid-column: 1 / 3;
}