.container>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: #ffffff;
}

html,
body {
    background-color: #8c89e0;
    margin: 10px;
}

.container>div:nth-child(1n) {
    background-color: #07ca6f;
}

.container>div:nth-child(3n) {
    background-color: #06f4e8;
}

.container>div:nth-child(2n) {
    background-color: #ef807c;
}

.container>div:nth-child(4n) {
    background-color: #a225ea;
}



.container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 200px 40px;
}

/* In this section,
we refer to the border lines that separate each column. For two columns,
we have three lines of borders. */

/* .header {
    grid-column-start: 1;
    grid-column-end: 3;
} */

/* -------- option short method-------- */
.header {
    grid-column: 2 / -1;

}

.menu {
    grid-row: 1 / 3;
}

.content {
    grid-column: 2 / -1;
}

.footer {
    grid-column: 1 / -1;
    /* grid-column:  1 / 3; */
    /* grid-column: 1 / span 2; */
}


clase 6 https: //v1.scrimba.com/learn/cssgrid/template-areas-css-grid-tutorial-c7Jqdfa