.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffffff;
}

html,
body {
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    margin: 0px;
    background-color: #8c89e0;

}

.container>div:nth-child(1n) {
    background-color: #07ca6f;
}

.container>div:nth-child(3n) {
    background-color: #06f4e8;
}

.container>div:nth-child(2n) {
    background-color: #ef807c;
}

.container>div:nth-child(4n) {
    background-color: #a225ea;
}



.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px;
    grid-template-areas: 
       "m h h h h h h h h h h h"
       "m c c c c c c c c c c c"
       "m f f f f f f f f f f f";

        /* ". h h h h h h h h h h ."
        "m c c c c c c c c c c c"
        "m f f f f f f f f f f ."; */
            
}



.header {
    grid-area: h;
}

.menu {
   grid-area: m;
}

.content {
  grid-area: c;
}

.footer {
    grid-area: f;
}


